# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build outputs
lib/
dist/
build/
*.tsbuildinfo

# React Native
*.jsbundle
*.bundle
.metro-health-check*

# iOS
ios/DerivedData/
ios/.xcode.env.local
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/Pods/
ios/Podfile.lock

# Android
android/.gradle/
android/local.properties
android/*.iml
android/.idea/

# Example app
example/node_modules/
example/ios/build/
example/ios/DerivedData/
example/ios/Pods/
example/ios/Podfile.lock
example/ios/.xcode.env.local
example/ios/*.xcworkspace/xcuserdata/
example/android/.gradle/
example/android/app/build/
example/android/local.properties
example/android/.idea/
example/android/*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
*.tmp
*.temp
._*

# Logs
*.log

# Testing
coverage/

# Environment
.env
.env.local
.env.*.local
